<h1>Welcome to Home Page</h1>
<p class="text-success" style="font-weight:bold;text-align: justify">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas corrupti sunt aut sit
  accusantium qui, itaque consequuntur dolorem. Quas nam ipsam quaerat magni eum
  distinctio consequuntur ea ab vero dolor. Lorem ipsum dolor sit amet, consectetur
  adipisicing elit. Officiis quibusdam fuga, eaque veritatis adipisci voluptates
  consequuntur fugiat nobis vel id pariatur praesentium voluptas dolorem magnam dolore
  quisquam beatae cum quas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
  dicta perferendis dolorem eum neque eveniet rerum, quidem nemo ad earum, magnam libero
  corrupti, asperiores minima veniam esse sint minus harum. Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Accusantium, commodi veniam accusamus perferendis iusto
  unde amet eos quas odio doloribus fuga qui quidem culpa in ullam molestiae eveniet
  facilis dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet facere
  nihil veniam id dicta earum tempore, harum neque iure perspiciatis maiores mollitia est
  iste officia porro doloremque repudiandae? Enim, non? Lorem ipsum dolor sit amet
  consectetur, adipisicing elit. Optio molestias officia ea officiis blanditiis molestiae
  laboriosam velit amet distinctio pariatur ipsum dolor eaque saepe, sed quaerat quis.
  Dolorem, accusamus quas!
</p>

<a class="btn btn-danger" style="float:right;" routerLink="/login" role="button"
  >Login...</a
>
