<div style="color:white;background-color:blueviolet;padding:10px;">
  <h2 class="text-center" style="margin-top:20px">Employee Management App ..!</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-5">
      <br />
      <img src="../../assets/download.jfif" alt="Image Not Found !" />
    </div>
  </div>
  <br /><br />

  <footer>
    <div class="row">
      <div class="col-md-7">
        <span class="text-danger">
          <strong
            >This site is copyright of Capgemini. All rights are reserved here.</strong
          >
        </span>
      </div>
      <div class="col-md-5">
        <span class="text-primary text-right">
          <strong
            >{{ todaysDate | date: "dd/MM/yy" }}|
            {{ todaysDate | date: "shortTime" }}</strong
          >
        </span>
      </div>
    </div>
  </footer>
</div>
